@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

#wrapper{
    /* overflow-y: auto; */
    overflow-x: hidden;
}

body{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo{
    width: 80px;
}

.logo-text{
    margin-left: -1.6rem;
    font-size:28px;
}

.nav-items{
    display: flex;
    padding: 0 4rem;
    gap: 2rem;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a{
    font-family: "Be Vietnam Pro", sans-serif;
    text-decoration: none;
    color: black;
}

.nav-items div:hover{
    transition: 0.8s; 
    font-weight: bold;
}

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.button{
    font-family: "Be Vietnam Pro",sans-serif;
    border: 2px solid violet;
    transform: scale(1.2);
    color: black;
    height: 25px;
    /* padding-left: 12px; */
    background-color: violet;
    width: 75px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    /* border-radius: 5px; */
    box-shadow: 1px 1px 7px 0px grey;
}
.button::before{
    content: "";
    background-color: white;
    /* border-radius: 5px; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}
.button:hover::before{
    transform: scaleX(1);
}

.faded-text{
    user-select: none;
    font-size: 7em;
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: -5%;
    left: -5%;
}

.hero-container{
    width: auto; 
    padding: 0 12rem; 
    background-color: rgb(231, 231, 231);
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-heading{
    font-family: "Be Vietnam Pro",sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}
.role{
    color: violet;
    font-weight: 800;
    margin-left: 15px;
}
.hero-sub{
    font-size: 45px;
    line-height: 45px;
}
.hero-des{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.hero-right{
    position: relative;
}
.absolute{
    position: absolute;
}

.user-image{
    padding: 1rem;
    filter: grayscale(1);
    animation-name: user;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.user-pic{
    object-fit: contain;
    width: 347px;
    height: 394px;
}
@keyframes user{
    0%{
        transform: scale(0.9);
        filter: grayscale(0);
    }
    50%{
        transform: scale(1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px grey;
    }
    100%{
        transform: scale(0.9);
        filter: grayscale(0);
    }
}

.icon{
    z-index: 3;/
}
.icon-dots{
    bottom: 0;
    right: 0;
    animation: dot 1s linear infinite;
}
@keyframes dot{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.icon-cube{
    right: 0;
    animation: cube 2s linear infinite;
}
@keyframes cube{
    0%{
        transform: translateY(0px);
        transform: rotateY(0deg);
    }
    50%{
        transform: translateY(15px);
        transform: rotateY(180deg);
    }
    100%{
        transform: translateY(0px);
        transform: rotateY(360deg);
    }
}
.icon-plus{
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    animation: plus 5s linear infinite;
}
@keyframes plus{
    0%{
        transform: translateY(15px) scale(1);
    }
    50%{
        transform: translateY(0px) scale(1.5);
    }
    100%{
        transform: translateY(15px) scale(1);
    }
}
.icon-zigzags{
    animation: zig 5s linear infinite;
}
@keyframes zig{
    0%{
        transform: translateY(15px) translateX(-15px);
    }
    50%{
        transform: translateY(0px) translateX(0px);
    }
    100%{
        transform: translateY(15px) translateX(-15px);
    }
}
.icon-circle{
    bottom: 0;
    animation: circle 5s linear infinite;
}
@keyframes circle{
    0%{
        transform: translateY(15px) translateX(-15px);
    }
    50%{
        transform: translateY(0px) translateX(0px);
    }
    100%{
        transform: translateY(15px) translateX(-15px);
    }
}

.btn-project{
    margin-right: 10px;
}

/* Experience section styles */
.experience-mainheading{
    text-align: center;
    color: violet;
    font-size: 90px;
    margin-bottom: 1.5rem;
}
.experience-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
    padding: 1rem 0 3rem 0;
}
.experience-card{
    background: linear-gradient(180deg, #ffffff, #fbfbfb);
    border-radius: 10px;
    padding: 1.6rem;
    box-shadow: 0 6px 18px rgba(31,31,31,0.12);
    width: 46%;
    color: #343d68;
}
.experience-role{
    font-size: 40px;
    font-weight: 700;
    color: #343d68;
}
.experience-company{
    font-size: 30px;
    color: violet;
    margin-top: 4px;
    transition: all 200ms;
}
.experience-duration{
    font-size: 20px;
    color: #6b7280;
    margin-top: 6px;
}
.experience-desc{
    margin-top: 12px;
    font-size: 15px;
    line-height: 1.5;
    color: #2b2f45;
}

.experience-company:hover{
    color: blueviolet;
}

.experience-skill-container{
    display: flex;
    margin: 10px 0;
    gap:10px
}

#project{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}

.project-mainheading{
    text-align: center;
    color: violet;
    font-size: 90px;
    padding-top: 6px;
}
.project-container{
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card{
    width: 90%;
    height: 550px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    z-index: 1;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
}

.project-card::before{
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

.project-number-right{
    right: -40px;
    top: -45px;
}
.project-number-left{
    left: -40px;
    top: -45px;
}

.project-card:hover .project-number{
    opacity: 1;
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em ;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: 0.4s;
}

.project-content-right{
    padding: 10%;
    right: -20%;
}
.project-content-right1{
    right: -10%;
}
.project-content-left{
    left: 10%;
}

.project-skill-container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skill{
    width: 35px;
}

.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-sub-heading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}
.button-group{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: 0.4s;
}
.icon:hover{
    color: violet;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}

#project1{
    background-image: url(./images/projects/Project1a.png);
}
#project2{
    margin-left: 120px;
    background-image: url(./images/projects/Project2a.png);
}
#project3{
    background-image: url(./images/projects/Project3a.jpg);
}
#project4{
    margin-left: 120px;
    background-image: url(./images/projects/Project4.png);
}

.skills-container{
    position: relative;
    display: flex;
    padding-bottom: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-fade-text{
    user-select: none;
    font-size: 15em;
    position: absolute;
    color: rgb(231, 231, 231);
    font-weight: bold;
    bottom: -11rem;
    right: 0%;
    line-height: 200px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}


.blob-style{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: blob 3s linear infinite;
    z-index: -5;
}

@keyframes blob{
    50%{
        bottom: 30%;
        left: 30%;
    }
}

.skills-logo{
    width: 90px;
    aspect-ratio: 1/1;
    transition: 0.5s;
    object-fit: contain;
}
.skills-logo:hover{
    transform: scale(1.2);
}

.skill-heading{
    color: violet;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
}
.caps{
    font-size: 90px;
}
.skill-container-left p{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
    margin: 15px 0;
}

.contact-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
}
.dir{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-heading{
    color: violet;
    font-size: 5em;
    padding-top: 2rem;
}
.contact-sub-heading{
    color: #343d68aa;
    font-size: 3rem;
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 30px;
    margin: 2rem 5rem;
}

.form-cont{
    /* width: 100%; */
    display: flex;
    justify-content:center;
    align-self: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    opacity: 30%;
    z-index: 0;
}


.mail{
    z-index: 2;
    text-decoration: none;
    color: white;
    width: 30rem;
    text-align: center;
    margin: 20px;
    font-size: x-large;
    transition: all 200ms;
}

.mail:hover{
    transform: scale(1.1);
    color: white;
}

.btn-contact{
    margin-left: 4%;
    width: 120px;
    transition: 0.2s;
}
.btn-contact:hover{
    transform: scale(1.1);
}
.name{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    box-shadow: 1px 1px 5px #1f1f1f;
    border-radius: 5px;
    font-weight: 5;
    border: none;
    margin: 17px;
}
.text{
    height: auto;
    padding-top: 1rem;
}

footer{
    background-color: #343d68;
    position: relative;
    padding: 5rem;
    margin-top: -1px;
}
.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.link-wrapper div a:hover{
    color: violet;
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: black;

}
.icon-wrapper a{
    font-size: xx-large;
}
.btn-group a{
    font-size: xx-large;
}

@media(max-width:1200px){

    .container{
        width: 100%;
    }
    .nav{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 4rem 0;
        padding: 0;
    }

    .hero-container{
        padding: 0 5rem;
    }

    .faded-text{
        position: relative;;
        left: 0%;
    }

    .hero-left{
        text-align: center;
        align-items: center;
    }

    .project-container{
        width: 100vw;
    }
    .experience-container{
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem 2rem 1rem;
    }
    .experience-card{
        width: 90%;
        /* margin: 0 auto; */
    }
    
    .project-card{
        width: 100%;
        height: 350px;
    }

    #project2{
        margin-left: 0;
    }

    #project4{
        margin-left: 0;
    }

    .project-content{
        padding: 0;
        margin: 0;
        gap: 0;
        position: absolute;
        bottom: 15%;
    }
    .project-content-left{
        left: 5%;
    }
    .project-content-right{
        right: -45%;
        padding: 25px;
        /* left: 0%; */
    }
    .project-content-right1{
        right: -40%;
        /* left: 0%; */
    }
    .project-number{
        font-size: 100px;
    }
    
    .project-number-right{
        right: 5%;
    }
    .project-number-left{
        left: 2%;
    }
    .project-heading{
        font-size: 30px;
        /* gap: 0rem; */
        /* width: 20%; */
    }

    .skills-container{
        width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0rem;
        margin: 4rem 0 -2rem 0;
        gap: 6rem;
    }
    .skill-container-left{
        justify-content: center;
        align-items: center;
        width: 600px;
    }
    
    .skill-container-right{
        width: 460px;
    }
    .skill-fade-text{
        font-size: 12em;
        bottom: 0;
        position: relative;
    }
    .contact-heading{
        text-align: center;
    }
    .contact-sub-heading{
        text-align: center;
    }
    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        /* margin-top: -15%; */
    }
    .footer-faded-text{
        position: absolute;
        left: auto;
        /* margin-left: 0%; */
        /* right: 0%; */

    }
}
@media (max-width:600px) {

    .faded-text{
        font-size:5rem;
        position: relative;
    }
    .skills-container{
        margin-top: 40px;
        gap: 2rem;
    }

    .skill-container-left{
        width: 100%;
    }
    
    .skill-container-right{
        width: 100%;
    }
    
    .skill-fade-text{
        font-size:8rem;
        line-height: normal ;
    }

    .hero-container{
        padding: 0 2rem;
    }

    .experience-mainheading{
        font-size: 70px;
    }

    .nav-items{
        gap: 1rem;
    }

    .project-mainheading{
        font-size: 70px;
    }

    .contact-heading{
        font-size: 4em;
    }

    .contact-sub-heading{
        font-size: 2em;
    }

    .skills-logo{
        width: 70px;
    }

    .mail{
        font-size: larger;
    }

    .blob-style{
        width: 250px;
        aspect-ratio: 1/1;
    }

    @keyframes blob {
        50%{
            bottom: 20%;
            left: 40%;
        }
    }
}

@media (max-width:400px){
    .nav-items{
        gap: 0.5rem;
    }
    .hero-container{
        padding: 0;
    }
    .experience-mainheading{
        font-size: 50px;
    }
    .experience-role{
        font-size: 30px;
    }
    .experience-company{
        font-size: 20px;
    }
    .skill-fade-text{
        font-size: 7rem;
    }
     @keyframes blob {
        50%{
            bottom: 45%;
            left: 20%;
        }
    }
}